<div class="navbar-fixed">
  <nav class="navbar-fixed">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">
        <%= image_tag(asset_path("logo.png"), class: "responsive-img") %>
      </a>
      <ul id="nav-mobile" class="right">
        <% City.all.each do |city| %>
          <li><%= link_to city.name, city_path("#{city.name}") %></li>
        <% end %>
        <li class="active"><%= link_to_login_or_logout %></li>
      </ul>
    </div>
  </nav>
</div>
